* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

*::selection {
    background: #df8f0e;
    color: #fff;
}

:root {
    --body-bg: #14213D;
    --header-bg: #FCA311;
    --navbar-bg: #E5E5E5;


    --big-font: 3rem;
    --h2-font: 1.6rem;
    --p-font: 0.5rem;
}

html,
body {
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

body.active {
    background: var(--body-bg);
    color: #fff;
}

h2 {
    font-weight: normal;
    text-align: justify;
}

/*--------HEADER----------*/
#logo {
    width: calc(105px + 10vw);
    height: 100%;
    max-width: 210px;
    max-height: 210px;
    min-height: 105px;
    min-width: 147px;
}

[alt="logo"] {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    display: block;
    margin: 10% auto;
}

header {
    margin-bottom: 0.4vw;
    height: calc(200px + 10vh);
    min-width: 790px;
    width: 100%;
    background-color: var(--navbar-bg);
    border: 2px ridge black;
    border-radius: 0 0 15px 15px;
    max-height: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
}

#felso {
    background-color: var(--header-bg);
    height: 70%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px ridge black;
}


#cim {
    padding: 0.1vh 2vw;
}

#cim h1 {
    margin-top: 4vh;
    font-size: calc(40px + 1vh);
    font-weight: bold;
}

#cim p {
    margin-top: 2vh;
    font-size: calc(15px + 1vh);
    font-weight: normal;
}

#ejjel-nappal {
    margin-left: auto;
    height: 50%;
    display: flex;
    align-items: center;
    margin-top: 2.5vw;
    cursor: pointer;
}

#ejjel-nappal img {
    height: 100%;
    margin-right: 2vw;
}

#ejjel-nappal .deactive {
    display: none;
}


nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

nav button {
    padding: calc(15px + 1%) 0px;
    font-size: calc(1em + 0.6vh);
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: #000000;
}

/*a[href="napi.html"] button{
    background-color: #14213D;
    color: white;
}*/
a:hover,
button:hover {
    cursor: pointer;
}

nav button:hover {
    background-color: var(--header-bg);
    color: white;
    letter-spacing: 3px;
}


/*--------FŐ MEGJELENÍTŐ----------*/
main {
    margin-top: 200px;
    min-height: calc(100vh - (200px + 10vh) - 2vw);
    color: var(--header-bg);
    width: 100%;
}

#elso, #masodik, #harmadik, #negyedik, #otodik, #hatodik{
    color: white;
}

/*--------FŐOLDAL----------*/
section {
    padding: 50px 10%;
    min-height: 70vh;
    border-bottom: 2px groove var(--header-bg);
}

.fooldal {
    padding: 2.5vw 0px 0px 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3vw;
}

.fooldal-szoveg h1 {
    font-size: var(--big-font);
    color: var(--header-bg);
}

.fooldal-szoveg h2 {
    color: var(--header-bg);
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
}

.fooldal-kep img {
    margin-top: 10%;
    width: 80%;
}

.gomb {
    display: inline-block;
    background: var(--header-bg);
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem;
}

.gomb.active {
    color: var(--body-bg);
}

.gomb:hover {
    background: #ffa400;
    cursor: pointer;
}

.fejlec {
    text-align: center;
}

.fejlec h1 {
    color: var(--header-bg);
    font-weight: 500;
    font-size: var(--big-font);
}

.fejlec h2 {
    font-size: var(--h2-font);
    color: var(--header-bg);
    text-align: center;
}


#etlap-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    align-items: center;
}

.box {
    position: relative;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
    padding: 10px;
    height: 35vh;
    width: 15vw;
    text-align: center;
    background-color: rgb(253, 253, 253);
}

.box img {
    width: 75%;
    height: 70%;
    margin: auto;
    display: block;
    margin-bottom: 0.3vw;
}

.box h2 {
    font-size: 1.2rem;
    text-align: center;
}

.box h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}

.box h4 {
    font-weight: 500;
}

.box:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 3px solid transparent;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.box:after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 3px solid transparent;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.box:hover:before {
    height: 35vh;
    width: 15vw;
    border: 3px solid var(--header-bg);
    border-right: none;
    border-bottom: none;
    transition: height 0.5s linear,
        width 0.5s linear 0.5s;
}

.box:hover:after {
    height: 35vh;
    width: 15vw;
    border: 3px solid var(--header-bg);
    border-left: none;
    border-top: none;
    transition: height 0.5s linear,
        width 0.5s linear 0.5s;
}

/*.box:hover{
    border: 3px solid;
    border-color: var(--header-bg);
}*/

.urlap-box{
    position: relative;
    height: 420px;
    width: 380px;
    background: rgb(253, 253, 253);
    border-radius: 8px;
}

.urlap-box::before{
    content: '';
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, var(--header-bg));
    animation: animate 6s linear infinite;
}

#asztal{
    border: none;
}

/*--------FOOTER----------*/
footer {
    font-size: 1.3em;
    height: calc(3vh + 2%);
    padding: 1vh;
    margin: auto 0;
    background-color: var(--header-bg);
    border-radius: 25px 25px 0 0;
    color: black;
    width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}